<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<main class="main">
  <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Dut2 | Evertonildo Maia | Favoritos</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>twitter</mat-icon>
    </button>
  </mat-toolbar>
  <div class="content" style="display: grid;">

    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel *ngFor="let link of links">
        <mat-expansion-panel-header>
          <mat-panel-title> {{link.group}} </mat-panel-title>
          <mat-panel-description>
            <mat-icon>account_circle</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <a class="a-link" *ngFor="let item of link.links" class="card " target="_blank" rel="noopener" [href]="item.url"
          [title]="item.title" [style]="styling(item)">
          <img [src]="item?.image" [alt]="item.title" style="max-width: 100px;padding: 15px;" />

        </a>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-tab-group style="width: 100%; display: none;" animationDuration="0ms">
      <mat-tab *ngFor="let link of links" label="{{link.group}}">
        <a class="a-link" *ngFor="let item of link.links" class="card " target="_blank" rel="noopener" [href]="item.url"
          [title]="item.title" [style]="styling(item)">
          <img [src]="item?.image" [alt]="item.title" style="max-width: 100px;padding: 15px;" />

        </a>
      </mat-tab>
    </mat-tab-group>
  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
